*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.father{
    /* border:2px solid red; */
    width:100%;
    min-height:100vh;
    background-color: rgba(240, 248, 255, 0.809);
    display: flex;
    justify-content: space-around;
    /* align-items: ; */
    flex-wrap: wrap;
    padding:15px;
}
.card{
    /* border:2px solid red; */
    width:280px;
    height:400px;
    margin:35px 25px;
    background-color: rgba(0, 0, 0, 0.835);
    color:white;
    border-radius:15px; ;
    overflow: hidden;
    cursor: pointer;
}
.img-box{
    /* border:2px solid black; */
    width:100%;
    height:180px;
}
.img-box img{
    width:100%;
    height:100%;
}
.text-box{
    /* border: 2px solid red; */
    padding: 8px;
}
.text-box p{
    letter-spacing: 1.5px;
    line-height: 22px;
    font-size: 14px;
    font-weight: 100;
    margin:5px 0;
}
.search{
    /* border:2px solid red; */
    padding:40px 0;
    background-color: rgba(0, 0, 0, 0.851);
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    border:none;
    outline: none;
    padding:12px 8px;
    width:50%;
    /* height:50px; */
    border: 4px solid orange;
    border-radius: 10px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-family: sans-serif;
}

